.CreditCard {
  .cardSvg {
    position: absolute;
    z-index: -1;
  }
  .content {
    width: 460px;
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .number {
      width: 100%;
      height: 33.33%;
      text-align: center;
      span{
        position: relative;
        top: 50%;  
        transform: translateY(-50%);
        font-size: 2.1rem;
        margin: 0 0.8rem;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
      }
    }
    .nameAndCvc {
      width: 100%;
      height: 40%;
      display: flex;
    }
    .name {
      width: 35%;
      height: 100%;
      span{
        position: relative;
        top: 50%;  
        transform: translateY(-50%);
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        margin: 0 0 0 2.5rem;
      }
    }
    .cvc {
      width: 65%;
      height: 100%;
      span{
        position: relative;
        top: 50%;  
        transform: translateY(-50%);
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        color: #fff;
      }
    }
  }
}
