.cardInput{
    .form-control:not(:placeholder-shown)~label{
        color: #FF6767;
    }
    .form-control:not(:placeholder-shown){
        padding: 3rem .75rem 1rem 0.3rem;
    }
    .form-control{
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #FF6767;
        padding-top: 0;
        padding-bottom: 0;
        padding: 2rem .75rem 1rem 0.3rem;

        .form-control-plaintext{
            padding: 1rem .75rem 1rem 0;
        }

        .form-control-plaintext:not(:placeholder-shown){
            padding: 1rem .75rem 1rem 0;
            color: #FF6767;
        }
    }
    .form-control:focus{
        box-shadow: none;
        padding: 3rem .75rem 1rem 0.3rem;
    }
    label{
        color: #B1B1B1;
        font-weight: 500;
        padding: 1rem .75rem 1rem 0;
    }
    &:focus-within label{
        color: #FF6767;
        font-weight: 500;
    }
}